body {
    font-family: helvetica;
    font-size: 20px;
    margin: 0;
    padding: 0;
    color: #666;
    background: #eee;
}
p {
    margin: 1em 0;
    padding: 0;
    line-height: 1.5;
}
input {
    margin: -0.75em 0 0;
    padding: .75em;
    font-size: 1em;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    color: #666
}
button {
    margin: 1em 0;
    font-size: 1em;
    padding: .75em;
    border-radius: 0;
    box-sizing: border-box;
    width: 100%;
    background: #ccc;
    border: 1px solid #aaa;
}

.center {
    text-align: center;
}
.heading {
    font-size: 2em;
}
.thin {
    font-family: 'helvetica neue';
    font-weight: 200;
}
.margins {
    max-width: 800px;
    padding: 0 1em;
    box-sizing: border-box;
    margin: auto;
}

/* Login screen */
.goto-settings {
    position: absolute;
    top: .5em;
    right: .5em;
    margin: 0;
}
