body {
    font-family: helvetica;
    font-size: 20px;
    margin: 0;
    padding: 0;
    color: #666;
    background: #eee;
}
p {
    margin: 1em 0;
    padding: 0;
    line-height: 1.5;
}
input {
    margin: -0.75em 0 0;
    padding: .75em;
    font-size: 1em;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    color: #666
}
button {
    margin: 1em 0;
    font-size: 1em;
    padding: .75em;
    border-radius: 0;
    box-sizing: border-box;
    width: 100%;
    background: #ccc;
    border: 1px solid #aaa;
    color: #333;
}
ul {
    margin: 0;
    list-style-type: none;
}

.hidden {
    display: none;
}
.center {
    text-align: center;
}
.heading {
    font-size: 2em;
}
.thin {
    font-family: 'helvetica neue';
    font-weight: 200;
}
.bold {
    font-weight: bold;
}
.margins {
    max-width: 800px;
    padding: 0 1em;
    box-sizing: border-box;
    margin: auto;
}

.error {
    border: 1px solid #faa;
    background-color: #fcc;
    color: #a66;
    display: none;
    padding: .25em 1em;

}

/* Login screen */
.goto-settings {
    position: absolute;
    top: .5em;
    right: .5em;
    margin: 0;
}

/* Chat window */
.window-list {
    width: 200px;
    float: left;
    height: 100%;
}
.window {
    margin-left: 200px;
    box-sizing: border-box;
    padding: 1em;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
.conversation-window {
    border: 1px solid #ccc;
    background: #fff;
    padding: 0 1em;
    height: calc(100% - 4em);
    margin-bottom: 2em;
}
.conversation-window li {
    border-bottom: 1px solid #eee;
    margin-left: -1em;
    margin-right: -1em;
    padding: .5em .5em .5em 2.5em;
}
.conversation-window p {
    font-size: .8em;
    margin: 0;
}
.conversation-window .time {
    color: #aaa;
    float: right;
    font-size: .75em;
    line-height: 1;
}
